header {
	padding: 30px;
    float: none;
    margin-right: 5px;
}
header::after {
	content:"";
	display: block;
	clear: both;
}

#pp{
	width:150px;
	border-radius: 20px;
	box-shadow:5px 5px 10px black;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

h4 {
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

/* flexbox uitleg van: https://www.w3schools.com/css/css3_flexbox.asp */

#flexbox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 30px;
    
   
}

#gen
{
    background-image: url("../Images/Photography/General/DSC_0418-cropped.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 390px;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    text-decoration: transparent;
}

#WoW
{
    background-image: url("../Images/Photography/WoW/Logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 390px;
    height: 220px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    text-decoration: transparent;
}

.center
{
    margin-top: 90px;
}




